@font-face {
    font-family: PTSerif-Regular;
    src: url('../fonts/PTSerif-Regular.woff2') format('woff2'),
         url('../fonts/PTSerif-Regular.woff') format('woff'); 
    font-weight: 400;
    font-display: swap;
   }
@font-face {
    font-family: COUTURE-Bold;
    src: url('../fonts/COUTURE-Bold.woff2') format('woff2'),
         url('../fonts/COUTURE-Bold.woff') format('woff'); 
    font-weight: 700;
    font-display: swap;
   }